.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  height: 225px;
}

.App {
  display: flex;
  flex-direction: column;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  padding: 25px;
  /* background-color: #282c34; */
  /* min-height: 50vh; */
  /* display: flex;
  flex-direction: column; */
  text-align: left;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.Title {
  text-align: center;
  color: black;
}

.App-link {
  color: #61dafb;
}

.App-intro {
  font-size: large;
}

.navbar-brand {
  height: 25px;
}

.logo {
  max-height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
